---
layout: page
title: "News"
permalink: /news/
redirect_from: 
priority: 0.9
published: false
sitemap: false
---

<div class="news-intro">
  <div class=".news-intro-description type-level-4">
    <p class="paragraph-large">
      I post my newsletters here.
    </p>
  </div>

  <div class=".news-intro-info">
    <p class="paragraph-small">
      
      
      You can always sign-up to receive newsletters via email by filling out <a href="/contact">this</a> form.

    </p>
  </div>
</div>

<div class="news">

{% assign newslist = site.news | sort:"order_number" %}
{% for new in newslist %}

{% assign newsSlug = news.title | slugify %}

{% capture previewImagePath %}{{ site.image_serve_path | append: '/news/'}}{{ newsSlug }}{% endcapture %}


<article class="news-listing">
  <div class="news-listing-details">
    <h2 class="news-listing-title type-level-3"><a href="{{ firstVendorURL }}">{{ news.title }}</a></h2>
    <p class="news-listing-styles title-label">{{ news.font_weights | size }} Styles</p>
    {% for vendor in font.vendors limit:3 %}
    {% capture vendorReferral %}{% if vendor.title == "Fontspring"%}?refby=mattgrey{% endif %}{% endcapture %}
  <a class="{% if forloop.first == true %}button-secondary button--small {% else %}font-listing-link-tertiary{% endif %} font-listing-vendor-link formatted-link" href="{{ vendor.url | append: vendorReferral }}" title="View/purchase on {{ vendor.title }} ({{ vendor.licence }} license)">{{ vendor.title }}</a> {% if forloop.last == false %}<span class="font-listing-vendor-link-separator">/</span>{% endif %}
    {% endfor %}
  </div>

  <div class="news-listing-preview">
    <div class="news-listing-preview-overflow">
      <img src="{{ previewImagePath }}/flist-{{ newsSlug }}.svg" alt="{{ news.title }}">
    </div>
  </div>

</article>

{% endfor %}
</div>
