.elementbook-wrapper {

  .book-title {
    @include grid-column(12);    
    margin-top: 4rem;
    font-size: 60px;
  }

  .elementbook-testimonial {
    @include grid-column-from-to(3,10);

      @include grid-media(tablet) {
        @include grid-column-from-to(3,10);
      }

      @include grid-media(desktop) {
        @include grid-column-from-to(3,10);
        // @include grid-column-from-to(2,8);
      }   
      
  }

  // .elementbook-testimonial {
  //   border: tomato;
  // }
  
  .elementbook-testimonial-quote {    
    //color: {{ page.highlight_color }};
    font-size: 1.2rem;
    font-style: italic;
    color: #bb3d47;
  }

  .elementbook-testimonial-source {
    //color: {{ page.highlight_color }};
    font-size: 1.2rem;
    font-weight: 900;
    text-align: right; 
    color: #bb3d27;
  }

  .elementbook-testimonial-bonafide {
    //color: {{ page.highlight_color }};
    font-size: 1.2rem;
    font-weight: 900;
    text-align: right; 
    color: #bb3d27;
  }

  //Layout
  .elementbook-info {
    @extend .grid-container;

    // .elementbook-intro {
    //   @include grid-column(12);

    //   @include grid-media(tablet) {
    //     @include grid-column(12);
    //   }

    //   @include grid-media(desktop) {
    //     @include grid-column(12);
    //     // @include grid-column-from-to(2,8);
    //   }
    // }

    .elementbook-details {
      @include grid-column(2);

      @include grid-media(desktop) {
        @include grid-column-from-to(1,3);
      }
    }

    .elementbook-info-quotes {
      @include grid-column(8);

      // @include grid-media(desktop) {
      //   @include grid-column-from-to(1,3);

    }
  }

  .elementbook-details {
    .elementbook-detail-wrapper {
      @extend .grid-container-nested-small;

      .elementbook-detail-6 {
        @include grid-column(6);

        @include grid-media(phablet) {
          @include grid-column(3);
        }

        @include grid-media(tablet) {
          @include grid-column(2);
        }

        @include grid-media(desktop) {
          @include grid-column(6);
        }
      }

      .elementbook-detail-12 {
        @include grid-column(6);

        @include grid-media(tablet) {
          @include grid-column(3);
        }

        @include grid-media(desktop) {
          @include grid-column(6);
        }
      }

      .elementbook-info-quotes {
        @include grid-column(6);
      }

      .paragraph-normal {
        @include grid-column(6);
      }

    }
  }

  .elementbook-text {
    @extend .grid-container;

    .elementbook-text-wrapper {
      @include grid-column(12);

      @include grid-media(tablet) {
        @include grid-column(12);
      }

      @include grid-media(desktop) {
        @include grid-column-from-to(2,8);
      }
    }
  }

  .elementbook-blurb {
    @extend .grid-container;
    
    .elementbook-blurb-wrapper {
      @include grid-column(12);

      @include grid-media(tablet) {
        @include grid-column(12);
      }

      @include grid-media(desktop) {
        @include grid-column(8);
        // @include grid-column-from-to(5,11);
        // grid-template-columns: repeat(1, 1fr);
      }
    }
  }

//   //Styles
  .image-wrapper {
    .image-wrapper img { width: 100%; }

    figcaption {
      margin-top: rem(12px);
      margin-bottom: rem(16px);
    }

    &.nudge-down-5 {
      @include grid-media(desktop) {
        margin-top: 5%;
      }
    }
  }

  .elementbook-info {
    margin-bottom: rem(40px);
  }

  .elementbook-text {
    @include grid-media(desktop) {
      margin-top: var(--gutter-row);
    }
  }
}
