<footer class="main-footer">
  <div class="footer-license-wrapper">
    <a class="license" href="https://github.com/remyauth/remyjalan.com/blob/main/LICENSE" title="View the license for this site and its content"><small>All content is copyright &copy; {{ site.start-year }} - {{ site.time | date: '%Y' }} Remy J. Alan, any trademarks are property of their respective owners</small></a>
  </div>
  <div class="made-by-wrapper">
    <a class="made-by" href="//github.com/remyauth/remyjalan.github.io">Remy J. Alan</a>
  </div>
</footer>
