---
layout: default
title-class: elementbook
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "{{ site.url | append: '/elemental/' }}",
        "name": "Elemental"
      }
    },{
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "{{ site.url | append: page.url }}",
        "name": "{{ page.title }}",
        "image": "{{ site.url | append: '/images' | append: page.thumbnail }}"
      }
    }]
  } 
</script>

<div class="elementbook-wrapper">

  <!-- <section>
    {% for entry in page.content_layout %}
      {% include layout.html %}
    {% endfor %}
  </section> -->

  <section class="layout-3col">
    
    <!-- <div class="layout-2col"> -->
      <figure class="image-wrapper">
          <img class="" src="{{ page.bookcover.image.url | prepend: site.image_serve_path }}" alt="{{ page.bookcover.image.description | normalize_whitespace }}">
      </figure>
      <!-- <figure class="image-wrapper {{ page.bookcover.image.positioning }}">
        <img class="" src="{{ page.bookcover.image.url | prepend: site.image_serve_path }}" alt="{{ page.bookcover.image.description | normalize_whitespace }}">
      </figure> -->
    <!-- </div> -->
      <div class="elementbook-blurb-wrapper paragraph-normal">
        {{ page.blurb.content | markdownify }}
      </div>    
    
  </section>

  <div class="elementbook-info">
    
    <div class="elementbook-details">

      <div class="elementbook-detail-wrapper">
        {% if page.storytypes %}
        <div class="elementbook-detail elementbook-detail-6 elementbook-detail-first">
          <h3 class="title-label">Story types</h3>
          {% assign storytype_list = page.storytypes | split: ','  %}

          {% for storytype in storytype_list %}
            <span class="keep-line-wrap">{{ storytype }}{% if forloop.last == false %},{% endif %}</span>
          {% endfor %}
        </div>
        {% endif %}

          {% if page.time_period %}
          <div class="elementbook-detail elementbook-detail-6">
            <h3 class="title-label">Year</h3>
            <p>{{ page.time_period }}</p>
          </div>
          {% endif %}

        {% if page.website.url %}
        <div class="elementbook-detail elementbook-detail-12">
          <a href="{{ page.website.url }}" class="button-secondary">{{ page.website.button_text }}</a>
        </div>
        {% endif %}
      </div>
    </div>
      <section>
        {% if page.bookquotes %}
        <div class="elementbook-detail-wrapper elementbook-info-quotes paragraph-normal">
          <h3 class="title-label">Book quotes</h3>      
          {% assign bookquote_list = page.bookquotes %}
          <!-- {% assign x = 'abc' %}
          {% assign y = 'def' %}
          {% assign z = x | append: ' - ' | append: y %}
          {{ z }} -->
          {% for bookquote in bookquote_list %}
          <!-- <span class="keep-line-wrap">{{ bookquote.quote | markdownify }}&rdquo;</span>       -->
          <span class="keep-line-wrap"><blockquote>{{ bookquote.quote | markdownify }}</blockquote>{% if forloop.last == false %}<br/>{% endif %}</span>      
          {% endfor %}
        </div>
        {% endif %}
      </section>


  </div>



  <section>
    {% if page.bookquotes %}
    <div class="elementbook-detail elementbook-detail-6 elementbook-detail-first">
      <h3 class="title-label">Book quotes</h3>      
      {% assign bookquote_list = page.bookquotes %}
      <!-- {% assign x = 'abc' %}
      {% assign y = 'def' %}
      {% assign z = x | append: ' - ' | append: y %}
      {{ z }} -->
      {% for bookquote in bookquote_list %}
      <!-- <span class="keep-line-wrap">{{ bookquote.quote | markdownify }}&rdquo;</span>       -->
      <span class="keep-line-wrap"><blockquote>{{ bookquote.quote | markdownify }}</blockquote>{% if forloop.last == false %}<br/>{% endif %}</span>      
      {% endfor %}
    </div>
    {% endif %}
  </section>

  <section>
    {% if page.testimonials %}
    <div class="elementbook-detail elementbook-detail-6 elementbook-detail-first">
      <h3 class="title-label">Reviews</h3>      
      {% assign testimonial_list = page.testimonials %}

      {% for testimonial in testimonial_list %}
      <span class="keep-line-wrap">
        <blockquote>
          {{ testimonial.quote | markdownify | append: ' —' | append: testimonial.source }}
        </blockquote>
        {% if forloop.last == false %}<br/>{% endif %}</span>      
      {% endfor %}
    </div>
    {% endif %}
  </section>

  <!-- {% if page.content %}
  <section class="additional-content-wrapper">
    <div class="additional-content">
      {{ content }}
    </div>
  </section>
  {% endif %} -->
</div>
