---
layout: default
title-class: elementbook
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "{{ site.url | append: '/elemental/' }}",
        "name": "Elemental"
      }
    },{
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "{{ site.url | append: page.url }}",
        "name": "{{ page.title }}",
        "image": "{{ site.url | append: '/images' | append: page.thumbnail }}"
      }
    }]
  } 
</script>

<div class="elementbook-wrapper">

  <!-- <section>
    {% for entry in page.content_layout %}
      {% include layout.html %}
    {% endfor %}
  </section> -->

  <!-- <section class="layout-1col-10-centered")></section> -->
  <section class="layout-1col-10-centered">
    <figure class="testimony">
      <blockquote> <div id="tquote"></div> </blockquote>
      <div class="author">
        <h5> <div id="tsource"></div> <span> <div id="tbonafide"></div> </span></h5>
      </div>
    </figure>
  </section>

  <section class="layout-3col">

  <div class="book-title">  {{ page.title }}  </div>

  <!-- Testimonial quotes, randomized and put on top of the page (beneath the header). -->
   
   
    <figure class="image-wrapper">
        <img class="" src="{{ page.bookcover.image.url | prepend: site.image_serve_path }}" alt="{{ page.bookcover.image.description | normalize_whitespace }}">
    </figure>

    <div class="elementbook-blurb-wrapper paragraph-normal">
      {{ page.blurb.content | markdownify }}
    </div>    
    
  </section>

  <div class="elementbook-info">    
    <div class="elementbook-details">
      <div class="elementbook-detail-wrapper">
        {% if page.storytypes %}
        <div class="elementbook-detail elementbook-detail-6 elementbook-detail-first">
          <h3 class="title-label">Story types</h3>
          {% assign storytype_list = page.storytypes | split: ','  %}

          {% for storytype in storytype_list %}
            <span class="keep-line-wrap">{{ storytype }}{% if forloop.last == false %},{% endif %}</span>
          {% endfor %}
        </div>
        {% endif %}

          {% if page.time_period %}
          <div class="elementbook-detail elementbook-detail-6">
            <h3 class="title-label">Year</h3>
            <p>{{ page.time_period }}</p>
          </div>
          {% endif %}

        {% if page.website.url %}
        <div class="elementbook-detail elementbook-detail-12">
          <a href="{{ page.website.url }}" class="button-secondary">{{ page.website.button_text }}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <h3 id="bquote"></h3><br/>

    <!-- <section>
    {% if page.bookquotes %}
    <div class="elementbook-detail-wrapper elementbook-info-quotes paragraph-normal">
      <h3 class="title-label">Book quotes</h3>      
      {% assign bookquote_list = page.bookquotes %}

      {% for bookquote in bookquote_list %}
      <span class="keep-line-wrap"><blockquote>{{ bookquote.quote | markdownify }}</blockquote>{% if forloop.last == false %}<br/>{% endif %}</span>      
      {% endfor %}
    </div>
    {% endif %}
  </section> -->


  <!-- <ul class="randomize">
    <li>Item 0</li>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul> -->

  
</div>

<script>
  function getRandomItem(array) {
    var randomIndex = Math.floor(Math.random() * array.length);
    return array[randomIndex];
  }
</script>

<!--Convert quotes from book and review testimonials as JSON data for randomization -->

<!-- No comments or empty lines allowed in this script; I don't know why. -->
<script>
  var BookQuotes = {{ page.bookquotes | jsonify }};
  var randomBookQuoteObject = getRandomItem(BookQuotes);
  var randomBookQuote = randomBookQuoteObject.quote;
  var bQuoteElement = document.getElementById("bquote");
  bQuoteElement.innerHTML = randomBookQuote;
</script>

<!--   
  Line-by-line comments for below script:
  1. Use Liquid to pull all the testimonials from markdown file. 
  2. Select one random testimonial object
  3. Pull the quote from the testimonial
  4. Assign the quote to the right html element
  5. Send the quote text to the html element
  6. Pull the "quotee/speaker/source" of the testimonial element
  7. Assign the speaker to the right html element
  8. Send the speaker text to the html element
-->
<script>
  var Testimonials = {{ page.testimonials | jsonify }};
  var randomTestimonialObject = getRandomItem(Testimonials);
  var randomQuote = randomTestimonialObject.quote;
  var tQuoteElement = document.getElementById("tquote");
  tQuoteElement.innerHTML = randomQuote;
  var randomSource = randomTestimonialObject.source;
  var tSourceElement = document.getElementById("tsource");
  tSourceElement.innerHTML = randomSource;
  var randomBonafide = randomTestimonialObject.bonafide;
  var tBonafideElement = document.getElementById("tbonafide");
  tBonafideElement.innerHTML = randomBonafide;
</script>